.gap {
    margin-top: 30px;
}

.smallGap {
     margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.sizeControl {
    max-width: 50%;
}


.marginAll {
    margin: 10px;
    border-radius: 20px;
}

.textControl {
    text-align: justify;
}

.hoverEffect:hover {
    opacity: 50%;
}